header{
  display: flex;
  background: url('../img/site/contacto/banner-contacto.jpg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
header h1{
  text-shadow: 5px 5px 5px var(--black);
}
#S2{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url('../img/site/portada/panel-solar.jpg') center no-repeat;
  background-size: cover;
}
.S2__form{
  flex: 0 0 80%;
  padding: 3rem;
}