nav {
  background: var(--white);
}

.nav-item-2>a {
  color: var(--black);
}

.flag {
  filter: invert(100);
}

header,
#S1,
#S2 {
  display: flex;
}

header .carousel__item {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding: 0 2rem;
  background-size: cover !important;
  max-width: 100%;
  max-height: 100%;
  height: 70vh;
}

.persona__description {
  color: var(--white);
  padding: 10px 20px;
  background: rgba(248, 142, 42, 0.8);
}


/* HEADER */

header .carousel__item:nth-child(2) {
  background: url('../img/site/empleo/equipo/francisco.jpg') center top no-repeat;
}

header .carousel__item:nth-child(3) {
  background: url('../img/site/empleo/equipo/elizabeth.jpg') center top no-repeat;
}

header .carousel__item:nth-child(4) {
  background: url('../img/site/empleo/equipo/norma.jpg') center top no-repeat;
}

header .carousel__item:nth-child(5) {
  background: url('../img/site/empleo/equipo/noash.jpg') center top no-repeat;
}

header .carousel__item:nth-child(5) {
  background: url('../img/site/empleo/equipo/noash.jpg') center top no-repeat;
}

header .carousel__item:nth-child(6) {
  background: url('../img/site/empleo/equipo/nancy.jpg') center top no-repeat;
}

header .carousel__item:nth-child(7) {
  background: url('../img/site/empleo/equipo/jose.jpg') center top no-repeat;
}


/* header .carousel__item:nth-child(8){
  background: url('../img/site/empleo/equipo/wilmarie.jpg') center top no-repeat;
}
header .carousel__item:nth-child(9){
  background: url('../img/site/empleo/equipo/alex.jpg') center top no-repeat;
} */

header .control__prev {
  left: 0.2rem;
}

header .control__next {
  right: 0.2rem;
}


/* ====== */


/* Sección 2 Formulrio */

.text-shadow {
  text-shadow: 10px 10px 10px var(--black);
}

#S2 {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url('../img/site/portada/panel-solar.jpg') center no-repeat;
  background-size: cover;
}

.S2__form {
  flex: 0 0 80%;
  padding: 3rem;
}


/* Sección 3 CV */

#S3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.S3__item {
  flex: 0 0 45%;
}

.S3__item:nth-child(2) {
  text-align: center;
}


/* Botón de play */

.btn-play {
  display: inline-flex;
  transition: transform 1s ease;
}

div button[name="play"] {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid var(--white);
  border-radius: 100%;
  margin: auto;
  cursor: pointer;
  margin-bottom: 10px;
}

div button[name="play"]:focus {
  outline: 0;
  border: 1px solid var(--white);
  box-shadow: 0 0 0 3px var(--white);
}

div button[name="play"]::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 2px;
  left: 3px;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent var(--white);
}

.btn-play:hover {
  transform: scale(1.1);
}


/* ============== */