/* @media (max-width: 575.98px) {   }
@media (max-width: 767.98px) {  }
@media (max-width: 991.98px) {  }
@media (max-width: 1199.98px) {  }
@media (min-width: 1200px) {  } */

#S1, #S2, #S3, #S4, #S5{
  display: flex;
}
/* Sección 1 SLOGAN */
#S1{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../img/site/portada/panel-movement.gif') center no-repeat;
  background-size: cover;
  padding: 2rem;
}
#S1 > .display-1{
  margin: 0;
  padding: 0 2rem;
  text-align: center;
  text-shadow: var(--black) 5px 5px 10px;
}
/* ================ */
/* Sección 2 SUCURSALES */
#S2{
  justify-content: space-around;
  flex-wrap: wrap;
}

.S2__header{
  flex: 0 0 100%;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: var(0,0,0,0.8);
}

.S2__item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 30%;
  height: 50vh;
  padding: 0;
  transition: margin 1s ease;
}
.S2__item:hover{
  margin: -10px 0 0 0;
  opacity: 1;
  text-decoration: none ;
}

.S2__item  h3{
  color: var(--white);
  margin: 0;
  padding: 0;
}
.S2__item:nth-child(2) {
  background: url('../img/site/portada/florida.jpg') center no-repeat;
}
.S2__item:nth-child(3) {
  background: url('../img/site/portada/puerto-rico.jpg') center no-repeat;
}
.S2__item:nth-child(4) {
  background: url('../img/site/portada/illinois.jpg') center no-repeat;
}
@media (max-width: 991.98px) { 
  #S2 {
    flex-direction: column;
  }

  .S2__item{
    flex: 0 0 100%;
    min-height: 40vh;
  }
}
/* ==================== */

/* Sección 4 Formulario */
#S4{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: url('../img/site/portada/panel-solar.jpg') center no-repeat;
  background-size: cover;

}
.S4__form{
  flex: 0 0 80%;
  padding: 3rem;
}
/* ==================== */

/* Seccion 5 Testimonios */
#S5{
  flex-wrap: wrap;
}
.control__prev{
  left: 2rem;
} 
.control__next{
  right: 2rem;
}
.control__prev, .control__next {
  transition: transform 0.5s ease;
}
@media (max-width: 991.98px) { 
  .control__prev{
    left: 0rem;
  } 
  .control__next{
    right: 0rem;
  }
 }
/* =========== */